{% extends "layout.html" %}

{% block submenu %}
    <a href="{{url_for('bookkeeper.modify_book', b_id=book['b_id'])}}">Ret regnskab</a>
    <a href="{{url_for('bookkeeper.entry', b_id=book['b_id'])}}">Ny postering</a>
{% endblock %}

{% block body %}
    <h2>{{book['title']}}</h2>
    <div class=news_bar>
      {{book['created']}}
      <div class=right>{{book['creator']}}</div>
    </div>
    <p>
      {{book['description']}}
    </p>

    <div class=news_bar>-</div>
<p>
  Posteringer:
</p>
<table border=1>
  <tr>
    <td></td>
    <td>Dato</td>
    <td>Kreditor</td>
    <td>Beløb</td>
    <td>andel</td>
    <td>skylder</td>
  </tr>

  {% for entry in entries %}
  <tr>
    <td> <a href="{{url_for('bookkeeper.entry', b_id=book['b_id'], e_id=entry['e_id'])}}">{{entry['description']}}</a> </td>
    <td> {{entry['date']}} </td>
    <td> {{entry['creditor']}} </td>
    <td> {{entry['amount']}} </td>
    <td> {{entry['final_share']}} </td>
    <td> {{entry['owes']}} </td>
  </tr>
  {% endfor %}

</table>


<p>
  Du skylder totalt for dette regnskab:
</p>
<table border=1>
  {% for entry in local_totals %}
  <tr>
    <td> {{entry['creditor']}} </td>
    <td> {{entry['total']}} </td>
  </tr>
  {% endfor %}
</table>


<p>
  === TOTALE skyld: ===
</p>
<table border=1>
  {% for entry in global_totals %}
  <tr>
    <td> {{entry['creditor']}} </td>
    <td> {{entry['total']}} </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
