{% extends "layout.html" %}

{% block submenu %}
    <a href="{{url_for('bookkeeper.modify_book', b_id=book['b_id'])}}">Ret regnskab</a>
    <a href="{{url_for('bookkeeper.entry', b_id=book['b_id'])}}">Ny postering</a>
{% endblock %}

{% block body %}
    <h2>{{book['title']}}</h2>
    <div class=news_bar>
      {{book['created']}}
      <div class=right>{{book['creator']}}</div>
    </div>
    <p>
      {{book['description']|markdown}}
    </p>

    <div class=news_bar>&nbsp;</div>
<p>
  Posteringer:
</p>
<table border=1 style="float:right">
  <tr>
    <th></th>
    <th>Dato</th>
    <th>Kreditor</th>
    <th>Beløb</th>
    <th>andel</th>
    <th>skylder</th>
  </tr>

  {% for entry in entries %}
  <tr>
    <td> <a href="{{url_for('bookkeeper.entry', b_id=book['b_id'], e_id=entry['e_id'])}}">{{entry['description']}}</a> </td>
    <td> {{entry['date']}} </td>
    <td> {{entry['creditor']}} </td>
    <td> {{entry['amount']|money}} </td>
    <td> {{entry['final_share']}} </td>
    <td> {{entry['owes']|money}} </td>
  </tr>
  {% endfor %}

</table>

<p>
  Breakdown
</p>
<table border=1>
  <tr>
    <th></th>
    <th>Lagt ud</th>
    <th>Forbrugt</th>
    <th>Balance</th>
  </tr>

  {% for row in breakdown %}
  <tr>
    <td>{{row['user']}}</td>
    <td>{{row['credit']|money}}</td>
    <td>{{row['debt']|money}}</td>
    <td>{{row['balance']|money}}</td>
  </tr>
  {% endfor %}
</table>

<p>
  Du skylder totalt for dette regnskab:
</p>
<table border=1>
  {% for entry in local_totals %}
  <tr>
    <td> {{entry['creditor']}} </td>
    <td> {{entry['total']|money}} </td>
  </tr>
  {% endfor %}
</table>


<p>
  === TOTALE skyld: ===
</p>
<table border=1>
  <tr>
    <th>Vejleder</th>
    <th>beløb</th>
  </tr>
  {% for entry in global_totals %}
  <tr>
    <td> {{entry['creditor']}} </td>
    <td> {{entry['total']|money}} </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
