{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">
    $(document).ready(function(){
            $('#addChoices').click(function(event){
                    event.preventDefault();
                    addInputEl('choices');
            });

    });

    function addInputEl(listId){
        list = document.getElementById(listId);
        newP = document.createElement('p');
        newInput = document.createElement('input');
        newInput.setAttribute('class', 'textInput');
        newInput.setAttribute('type', 'text');
        newInput.setAttribute('name', listId);
        newP.appendChild(newInput);
        list.appendChild(newP);
    }
</script>

<h2>Nyt m&oslash;de</h2>
<form action="{{url_for('schedule.new')}}" method="post">
    <table class="formTable">
    <tr>
        <td>Overskrift:</td>
        <td><input type="text" name="title" /></td>
    </tr>
    <tr>
        <td>Deadline:</td>
        <td><input type="text" id="schedule.deadline" maxlength="25" size="25" name="deadline" />
            {{deadline_calendar|safe}}
            <span class="note">(Format: yyyy-MM-dd HH:mm)</span>
        </td>
    </tr>
    <tr>
        <td>Dato og tid:</td>
        <td><input type="text" id="schedule.time" maxlength="25" size="25" name="time" />
            {{time_calendar|safe}}
            <span class="note">(Format: yyyy-MM-dd HH:mm)</span>
        </td>
    </tr>
    <tr>
        <td>Beskrivelse:</td>
        <td><textarea name="description"></textarea></td>
    </tr>
    <tr>
        <td>Valgmuligheder:</td>
        <td><div id="choices">
                <p><input class="inputText" type="text" name="choices" /></p>
            </div>
            <p><input type="submit" id="addChoices" value="+" /></p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="submit">Opret</button>
            <button type="submit" name="cancel" value="cancel">Annuller</button>
        </td>
    </tr>
</table>
</form>
{% endblock %}
