{% extends "layout.html" %}

{% block body %}
<h1>Bekendte russer</h1>
{% for rus in friends %}
    <h3><a href="{{url_for('rusmanager.rus', r_id=rus[0]['r_id1'])}}" id="{{rus[0]['r_id1']}}">{{rus[0]['name1']}}:</a></h3>
    {% for friend in rus[1] %}
        <a href="#{{friend['r_id2']}}">{{friend['name2']}}</a>
    {% endfor %}
{% endfor %}

<p></p>
<h1>Vejleder bekendte:</h1>
{% for rus in user_friends %}
    <h3><a href="{{url_for('rusmanager.rus', r_id=rus[0]['r_id'])}}" id="{{rus[0]['r_id']}}">{{rus[0]['russer_name']}}:</a></h3>
    {% for user in rus[1] %}
        <a href="{{url_for('usermanager.user', username=user['username'])}}">{{user['users_name']}}</a>
    {% endfor %}
{% endfor %}

{% endblock %}
