{% extends "layout.html" %}

{% block submenu %}
  <a href="{{url_for('rusmanager.new')}}">Ny Rus</a>
  <a href="{{url_for('rusmanager.friends')}}">Kender</a>
  <a href="{{url_for('rusmanager.help')}}">Hjælp</a>
{% endblock %}

{% block body %}
<h2>Rusmanager</h2>
<ul class=russer>
  {% for rus in russer %}
  <li>
    <a href="{{url_for('rusmanager.rus', r_id=rus['r_id'])}}">{{rus['name']}}</a>
    {{ "☏" if rus['called'] else "" }}
    {{"→" if rus['attending_campus'] and rus['attending_rustour'] else "" }}
    {{"<strike>ℳ</strike>"|safe if rus['mentor'] == None else ""}}
    {{ "⚐" if rus['attending_rustour'] and rus['rustour'] == None else ""}}
  </li>
  {% else %}
  Der er ingen russer i databasen
  {% endfor %}
</ul>
{% endblock %}
