{% extends "layout.html" %}

{% block submenu %}
  <a href="{{url_for('rusmanager.new')}}">Ny Rus</a>
  <a href="{{url_for('rusmanager.friends')}}">Kender</a>
  <a href="{{url_for('rusmanager.help')}}">Hjælp</a>
{% endblock %}

{% block body %}
<h2>Rusmanager</h2>
<ul class=russer>
  {% for rus in russer %}
  <li>
    <a href="{{url_for('rusmanager.rus', r_id=rus['r_id'])}}">{{rus['name']}}</a>
    {{ rus_icons(rus)|safe }}
  </li>
  {% else %}
  Der er ingen russer i databasen
  {% endfor %}
</ul>
{% endblock %}
