{% extends "layout.html" %}

{% block submenu %}
  <a href="{{url_for('rusmanager.new')}}">Ny Rus</a>
  <a href="foo"><strike>Rusture</strike></a>
  <a href="foo"><strike>Tjansehold</strike></a>
  <a href="foo"><strike>Kender</strike></a>
{% endblock %}

{% block body %}
<h2>Rusmanager</h2>
<ul class=russer>
  {% for rus in russer %}
  <li><a href="{{url_for('rusmanager.rus', rid=rus['rid'])}}">{{rus['name']}}</a></li>
  {% else %}
  Der er ingen russer i databasen
  {% endfor %}
</ul>
{% endblock %}
