{% extends "layout.html" %}

{% block body %}
<p>
  Total:
  russer = {{russer}}<br/>
  på campusdage = {{russer_attending_campus}}<br/>
  på rusture = {{russer_attending_rustour}}<br/>
</p>

<p>
  <h2>Rusture:</h2>
  {% for rustour in rustours %}
  <p>
    <a href="{{url_for('rustours.rustour', t_id=rustour['t_id'])}}">{{rustour['tour_name']}}</a>:<br/>
    antal = {{rustour['count']}}<br/>
    campus = {{rustour['attending_campus']}}<br/>
    rustour = {{rustour['attending_rustour']}}<br/>
  </p>
  {% endfor %}
</p>

<p>
  <h2>Mentorhold</h2>
  {% for mentorteam in mentorteams %}
  <p>
    <a href="{{url_for('mentorteams.mentorteam', m_id=mentorteam['m_id'])}}">{{mentorteam['mentor_names']}}</a>:<br/>
    antal = {{mentorteam['count']}}<br/>
    campus = {{mentorteam['attending_campus']}}<br/>
    rustour = {{mentorteam['attending_rustour']}}<br/>
  </p>
  {% endfor %}
</p>
{% endblock %}
