{% extends "layout.html" %}

{% block submenu %}
<a href="{{url_for('admin.groups_overview')}}">Grupper</a>
<a href="{{url_for('admin.invitations')}}">Invitationer</a>
<a href="{{url_for('admin.git_pull')}}">git pull</a>
<a href="{{url_for('admin.delete_user')}}">Slet bruger</a>
{% endblock %}

{% block body %}
  <h2>FORSIGTIGT</h2>
  <strong>Brug ikke disese funkrtioner undre pårvirkelse ah akolhol!</strong>

<form method=post>
  <input type=submit name="anuller" value="anuller">
  <dl>
    <dt>Slet russer (uid list):</dt>
    <dd><input type=text name=delete_rus></dd>
  </dl>
  <input type=submit name="toem_rusdatabase" value="toem_rusdatabase">

  <input type=submit value="Nyt RKG aar">
  {% for i in range(0,10) %}
  <br/>
  {% endfor %}
  <input type=submit value="udfør"><input type=submit name="anuller" value="anuller">
</form>
{% endblock %}
