{% extends "layout.html" %}

{% block submenu %}
    <a href="{{url_for('rustours.new')}}">Opret rustur</a>
{% endblock %}

{% block body %}

{% for year in tours %}
    <h2>{{year[0]}}</h1>
    {% for tour in year[1] %}
        <p>
          <a href="{{url_for('rustours.rustour', t_id=tour['t_id'])}}">
            "{{tour['tour_name'] if tour['tour_name'] is not none else "Unavngivet rustur"}}"
            {{{'p':'Pigetur', 't':'Transetur','m':'Munketur'}[tour['type']]}}
          </a>
        </p>
    {% endfor %}
{% endfor %}

{% endblock %}
