{% extends "layout.html" %}

{% block submenu %}
  <a href="{{url_for('rustours.new')}}">Opret rustur</a>
{% endblock %}

{% block body %}
  <h2>{{tour['tour_name']}} - {{{'p':'Pigetur', 't':'Transetur','m':'Munketur'}[tour['type']]}}</h2>

  <h3>Rusvejledere</h3>
  {% for tutor in tutors %}
  <a href="{{url_for('usermanager.user', username=tutor['username'])}}">
    {{tutor['username']}}
  </a></br>
  {% endfor %}

  <h3>Russer</h3>
  {% for rus in russer %}
  <a href="{{url_for('rusmanager.rus', r_id=rus['r_id'])}}">
    {{rus['name']}}
  </a></br>
  {% endfor %}

{% endblock %}
