{% extends "layout.html" %}

{% block submenu %}
  <a href="{{url_for('front.add_news')}}">Tilføj nyhed</a>
{% endblock %}

{% block body %}
{% for item in news %}
<div class=news_title>{{item['title']}}
{% if session['username'] == item['creator'] or session.session_admin %}
<a href="{{url_for('front.modify_news', id=item['n_id'])}}">rediger</a>
{% endif %}
</div>
<div class=news_bar>
  {{item['created']}}
  <div class=right>{{item['creator']}}</div>
</div>
{{item['text']|markdown}}
{% endfor %}

{% endblock %}
