<!doctype html>
<html>
<head>
<title>GRIS</title>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
    <script src="/static/js/datetimepicker_css.js"></script>
</head>
<body>
<div class=logo>
  <img src="/static/pig-face.png" alt="GRIS" width="120" height="120">
</div>
<div class=navigation>
  <div class=menu>
    <a href="{{url_for('front')}}">/</a>
    <a href="http://rkg.diku.dk/wiki/">wiki -></a>
    <a href="http://rkg.diku.dk/">rkg.diku.dk -></a>
    <a href="{{url_for('schedule.overview')}}">Mødekalender</a>
    <a href="bar"><strike>externt regnskab</strike></a>
    <a href="foo"><strike>Internt regnskab</strike></a>
    <a href="foo"><strike>Ølregnskab</strike></a>
    <a href="{{url_for('rusmanager.overview')}}">Rusmanager</a>
    <a href="{{url_for('usermanager.overview')}}">Brugere</a>
    <a href="foo"><strike>Lister</strike></a>
    <a href="foo"><strike>Filer</strike></a>
    <a href="foo"><strike>Billeder</strike></a>
    {% if not session.session_admin %}
    <a href="{{url_for('admin')}}">Admin</a>
    {% endif %}
    <a href="{{url_for('usermanager.logout')}}">log ud</a>
  </div>
  <br/>
    {% block submenu %}{% endblock %}
</div>

<div class=page>
  <h1>Generelt Rus Informations System</h1>
  <div class=greybar>{{random_greeting()|safe}}</div>
  {% for message in get_flashed_messages() %}
  <div class=flash>{{message}}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>
