{% extends "layout.html" %}

{% block submenu %}
<div class=submenu>
  <a href="{{url_for('new_rus')}}">Ny Rus</a>
</div>
{% endblock %}

{% block body %}
<div class=rusdata>
  <form action="{{url_for('ruspage', rid=rus['rid'])}}" method=post>
    <p>
      <input type=submit value="gem">
      <input type=submit name="anuller" value="anuller">
      <br/><br/>
    </p>
    <dl>
      <dt>opringet:</dt>
      <dd><input type=checkbox name=opringet {% if rus['opringet'] == 1 %}checked{% endif %}></dd>

      {% for field in textfields %}
      <dt>{{field}}:</dt>
      <dd><input type=text name="{{field}}" value="{{rus[field]}}"></dd>
      {% endfor %}

      <dt><strike>kender</strike>:</dt>
      <dd><input type=text name=kender></dd>

      <dt>deltager_unidag:</dt>
      <dd><input type=checkbox name=deltager_unidag {% if rus['deltager_unidag'] == 1 %}checked{% endif %}></dd>

      <dt>deltager_campus:</dt>
      <dd><input type=checkbox name=deltager_campus {% if rus['deltager_campus'] == 1 %}checked{% endif %}></dd>

      <dt>deltager_hytte:</dt>
      <dd><input type=checkbox name=deltager_hytte {% if rus['deltager_hytte'] == 1 %}checked{% endif %}></dd>

      <dt><strike>rustur</strike>:</dt>
      <dd><input type=text name=rustur value="{{rus['rustur']}}"></dd>

      <dt><strike>tjansehold</strike>:</dt>
      <dd><input type=text name=tjansehold value="{{rus['tjansehold']}}"></dd>

      <dt>foedselsdato:</dt>
      <dd><input type="date" name="foedselsdato" value="{{rus['foedselsdato']}}"></dd>
    </dl>
  </form>
</div>
{% endblock %}
