{% extends "layout.html" %}

{% block submenu %}
  <a href="{{url_for('mentorteams.settings', m_id=team['m_id'])}}">Ret</a>
  <a href="{{url_for('mentorteams.add_to_rustour', m_id=team['m_id'])}}">Tilføj til rustur</a>
{% endblock %}

{% block body %}
  <h2>{{team['mentor_names']}}</h2>

  <h3>Mentorer</h3>
  {% for mentor in mentors %}
  <a href="{{url_for('usermanager.user', username=mentor['username'])}}">{{mentor['username']}}</a>
  <br/>
  {% endfor %}

  <h3>Russer</h3>
  {% for rus in russer %}
  <a href="{{url_for('rusmanager.rus', r_id=rus['r_id'])}}">{{rus['name']}}</a>
  {{ "<strike>ℝ</strike>"|safe if rus['attending_campus'] and not rus['attending_rustour'] else ""}}
  {{ "<strike>ℂ</strike>"|safe if not rus['attending_campus'] and rus['attending_rustour'] else ""}}
  {{ "<strike>ℂ ℝ</strike>"|safe if not rus['attending_campus'] and not rus['attending_rustour'] else ""}}
  <br/>
  {% endfor %}

{% endblock %}
