{% extends "layout.html" %}

{% block submenu %}
  <a href="{{url_for('mentorteams.settings', m_id=team['m_id'])}}">Ret</a>
{% endblock %}

{% block body %}
  <h2>{{team['mentor_names']}}</h2>

  <h3>Mentorer</h3>
  {% for mentor in mentors %}
  <a href="{{url_for('usermanager.user', username=mentor['username'])}}">{{mentor['username']}}</a>
  <br/>
  {% endfor %}

  <h3>Russer</h3>
  {% for rus in russer %}
  <a href="{{url_for('rusmanager.rus', r_id=rus['r_id'])}}">{{rus['name']}}</a>
  <br/>
  {% endfor %}

{% endblock %}
