{% extends "layout.html" %}

{% block submenu %}
    <a href="{{url_for('mentorteams.new')}}">Opret hold</a>
{% endblock %}

{% block body %}

{% for year in teams %}
    <h2>{{year[0]}}</h1>
    {% for team in year[1] %}
        <p>
          <a href="{{url_for('mentorteams.mentorteam', m_id=team[1][0]['m_id'])}}">
            "{{team[1][0]['mentor_names'] if team[1][0]['mentor_names'] is not none else "Unavngivet mentorhold"}}"
          </a>
          -
          {{team[1]|map(attribute="name")|reject("none")|join(", ")}}
        </p>
    {% endfor %}
{% endfor %}

{% endblock %}
