<div ng-controller="loginCtrl">
  <form name="form" novalidate ng-submit="login()">
    <div class="form-group">
      <div ng-class="{'has-error':(form.$submitted || form.username.$touched) && form.username.$error.required != undefined}">
        <label class="control-label" for="username">Brugernavn</label>
        <input type="text" class="form-control" id="username" placeholder="Brugernavn..." ng-model="username" name="username" ng-disabled="form_inactive" required>
        <div ng-show="(form.$submitted || form.username.$touched) && form.username.$error.required">
          <span class="help-block">Du skal angive et brugernavn</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div ng-class="{'has-error':(form.$submitted || form.password.$touched) && form.password.$error.required != undefined}">
        <label class="control-label" for="password">password</label>
        <input type="password" class="form-control" id="password" placeholder="Løsen..." ng-model="password" name="password" ng-disabled="form_inactive" required>
        <div ng-show="(form.$submitted || form.password.$touched) && form.password.$error.required">
          <span class="help-block">Du skal angive et løsen</span>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-default btn-sm right" ng-click="forgot(form)" ng-disabled="form_inactive">Glemt løsen</button>
    <button type="submit" class="btn btn-primary" ng-disabled="form_inactive">Login</button>
  </form>

  <i ng-show="waiting" class="fa fa-spinner fa-pulse"></i>
  {{message}}
</div>
