<div class="news-list">
  <div class="news" ng-repeat="article in news">
    <div class="header">
      <div ng-hide="editing === article">
        <h2>{{article.title}}</h2>
      </div>
      <div ng-show="editing === article">
        <input type="text" class="form-control" id="newsEditTitle" ng-model="article.title" name="title" required>
      </div>
      <div class="news-bar">
        <span class="created">{{article.created}}</span>
        <!-- TODO: Last updated icon with tooltip -->
        <span class="creator right"><g-user user="article.creator"></g-user></span>
      </div>
      <div ng-if="article.creator.user_id === me.user_id || me.is_admin">
        <a href="" ng-click="edit(article)"><i class="fa fa-pencil-square-o right"></i></a>
        <!-- <button class="btn btn-default btn-xs right"><i class="fa fa-pencil-square-o"></i></button> -->
        <!-- <button class="right"><i class="fa fa-pencil-square-o"></i></button> -->
        <!-- <button class="btn btn-default right btn-xs" ng-click="edit(article)">rediger</button> -->
      </div>
    </div>
    <div class="body">
      {{article.body}}
    </div>
    <div ng-if="editing === article">
      <textarea class="form-control" id="newsEditBody" rows=10 ng-model="article.body" name="body" required></textarea>
      <!-- <button class="btn btn-default" ng-click="cancel()">Anuller</button> -->
      <!-- <button class="btn btn-primary" ng-click="submit()">Gem ændringer</button> -->
      <!-- <button class="btn btn-danger btn-xs" ng-click="delete()">Slet</button> -->

      <div class="right">
        <button class="btn btn-danger btn-xs" ng-click="delete()">Slet</button>
        <button class="btn btn-default" ng-click="cancel()">Anuller</button>
        <button class="btn btn-primary" ng-click="submit()">Gem ændringer</button>
      </div>
    </div>
  </div>
</div>
