{{message}}
<div class="year" ng-repeat="year in years">
  <h2>{{year}}</h2>
  <div class="rustour" ng-repeat="tour in rustours[year]">
    <h4><a href="/#/rustours?{{tour.tour_id}}" ng-click="select(tour, $event)">{{tour.tour_name}}</a></h4>
    <div ng-show="selected === tour">
      <!-- {{tour.type | rustourType}}<br> -->
      <g-rustour-type tour="tour"></g-rustour-type>
      <p><b>Tema:</b> {{tour.theme}}</p>
      <b>Om:</b>
      <p>
        {{tour.notes}}
      </p>
      <p><b>Vejledere: </b> {{tour.tutors.length}}</p>
      <div ng-repeat="tutor in tour.tutors">
        <g-user user="tutor"><g-user>
      </div>
      <hr>
    </div>
  </div>
</div>
