{% extends "layout.html" %}

{% block submenu %}
  <a href="{{url_for('usermanager.deleted_users')}}">Slettede brugere</a>
  <a href="{{url_for('usermanager.settings')}}">Indtast detaljer</a>
  <a href="{{url_for('usermanager.invite')}}">Inviter ny bruger</a>
{% endblock %}

{% block body %}
<h3>Brugerdetaljer</h3>
<p>
  <b>Brugernavn:</b> {{user["username"]}}<br/>
  <b>Fulde navn:</b> {{user["name"]}}
</p>

<p>
  <b>Email:</b> {{user["email"]}}<br/>
  <b>Telefon:</b> {{user["phone"]}}
</p>

<p>
  <b>Adresse:</b> {{user["address"]}}<br/>
  <b>Postnummer:</b> {{user["zipcode"]}}<br/>
  <b>By:</b> {{user["city"]}}
</p>

<p>
  <b>Fødselsdag:</b> {{user["birthday"]}}
</p>

<p>
  <b>Kørekort:</b> {% if user["driverslicence"] %}Ja{% else %}Nej{% endif %}
</p>

<hr>

<p>
  <b>Startede på DIKU:</b> {{user["diku_age"]}}<br/>
</p>

<p>
  <b>Var vejleder på:</b>
  {% for tour in tours %}
<p>
  <a href="{{url_for('rustours.rustour', t_id=tour['t_id'])}}">{{tour['tour_name']}}</a> - {{tour['year']}}
</p>
{% else %}
Ingen Ture...
{% endfor %}
</p>

<hr>

<p>
  <b>Lidt om mig selv:</b> {{user["about_me"]|markdown}}
</p>
{% endblock %}
